.cache/
build/
sdkconfig.old
.vscode/

main/.cache/
main/CMakeCache.txt
main/CMakeFiles/
main/cmake_install.cmake
main/compile_commands.json
main/bootloader/
main/bootloader-prefix/
main/esp-idf/
main/*flash_*
main/flasher_args.json
main/config/
main/project_description.json
main/*.in
